@charset "UTF-8";
.index-business-app-right-content > div div{
  background:url(../images/ie_ewm_bg.png) no-repeat 0 0;
  background-size:100% 100%;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ie_ewm_bg.png',  sizingMethod='scale');
  border:none
}
.index-business{
  padding:0;
}