.sub-page-template{
  width:1180px;
  height:auto;
  margin:100px auto 40px;
  font-size: 0;

  h4{
    color:#8C8C8C;
    font-size: 14px;//3.5
    line-height: 1.5;
    margin: 16.5px 0;

    em{
      margin-left:8px;
    }

    span{
      margin-left: 8px;

      &:first-child{
        margin-left: 0;
      }
    }
  }
}

.template-container{
  width:100%;
}

.template-nav{
  width:204px;
  background-color: #fff;

  //height:300px;

  h3{
    color: #3F3F3F;
    font-size: 18px;//9
    font-weight: normal;
    line-height: 1.5;
    margin-top:16px;
    margin-bottom:20px;
    padding-left:30px;
  }

  ul{
    padding-bottom: 40px;

    li{
      font-size: 0;

      &>a{
        display: inline-block;
        height:40px;//12
        line-height: 40px;
        padding-left:24px;
        border-left:6px solid transparent;
        color:#212121;
        font-size: 16px;
        font-weight: bold;
      }

      &.active{

        &>a{
          border-color:#A1753A;
          color:#A1753A;
        }
      }
    }
  }
}

.template-nav-sub{
  font-size: 0;
  padding-left:30px;

  a{
    font-size: 14px;
    display: block;
    line-height: 14px + 16;
    color:#424242;

    &:hover,&.active{
      color:#A1753A;
    }
  }
}

.template-body-banner{
  width:100%;
  //background-color: blue;
  //height:190px;
  font-size:0;
  height:auto;
  margin-bottom:20px;

  img{
    width:100%;
    height:auto;
  }
}

.template-body-content{
  padding:35px 40px 45px;
  background-color: #fff;
  //height:474px;

  h2{
    font-size:20px;
    color:#212121;
    line-height: 1.5;
    padding-bottom:15px;
    border-bottom:1px solid #E0E0E0;
  }
}

.template-body-main{
  font-size:14px;
  text-indent: 2em;
  color:#848484;
  line-height:26px;
  padding:34px 0;
}

.template-body{
  width:956px;
}