.small-deposit-withdrawal-static{
  font-size: 0;

  h6{
    font-size: 16px;
    font-weight: bold;//24
    margin:30px - 4 - 7 0 20px - 7 - 4;
    line-height: 1.5;
    color:#212121;
  }

  h5{
    font-size: 16px;
    font-weight: bold;
    color:#A1753A;
    line-height: 1.5;
    margin:30px - 4 0 20px - 4 - 7;
  }

  p{
    font-size: 14px;
    color:#9A9A9A;
    line-height: 28px;//21
  }
}

.small-deposit-withdrawal-main{
  padding:40px - 7 0 15px - 7;
}

.small-deposit-withdrawal-static-item{
  border-top:1px solid #F1F1F1;
  margin-top:30px;

  &:first-child{
    border:none;
    margin-top:0;

    h5{
      margin-top: 0;
    }
  }
}