@charset "UTF-8";
/*
  compass 引用
*/
/* line 5, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  自定义引用
*/
/*
  自定义变量集
*/
/*
  My Mixin
*/
/*最小宽高*/
/*table*/
/*opacity*/
/*兼容圆角*/
/*兼容box-shadow*/
/*兼容渐变--safari chrome低版本没兼容*/
/*
  CSS Sprites
*/
/*引入sprites*/
/*定义跨浏览器的能力*/
/*清除浮动*/
/* line 15, sass/_common.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*左右浮动*/
/* line 20, sass/_common.scss */
.float-left, .header-body ul.float-right li, .personal-finance-banner, .personal-finance-business, .footer {
  float: left;
  display: inline;
}

/* line 23, sass/_common.scss */
.float-right {
  float: right;
  display: inline;
}

/*让子元素能够使用父元素的样式  特别是 li下的a标签*/
/* line 28, sass/_common.scss */
.inherited {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
.inherited:active, .inherited:focus {
  outline: none;
}

/*hover 添加下划线*/
/* line 33, sass/_common.scss */
.underline-hover {
  text-decoration: none;
}
/* line 4, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
.underline-hover:hover, .underline-hover:focus {
  text-decoration: underline;
}

/*文本单行省略号 需要安装compass install compass/ellipsis*/
/* line 39, sass/_common.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/app/css/xml/ellipsis.xml#ellipsis');
}

/*display:inline-block的跨浏览器样式*/
/* line 44, sass/_common.scss */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 47, sass/_common.scss */
input {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

/* line 53, sass/_common.scss */
a {
  text-decoration: none;
}

/* line 56, sass/_common.scss */
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

/* line 62, sass/_common.scss */
em {
  font-style: normal;
}

/* line 3, sass/_sysCommon.scss */
.overflow-top {
  display: table;
}

/* line 6, sass/_sysCommon.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: PingFang SC,helvetica neue,hiragino sans gb,microsoft yahei,sans-serif;
  min-width: 1060px;
  min-height: 680px;
  font-size: 0;
}

/* line 14, sass/_sysCommon.scss */
.header-body {
  height: 100%;
  width: 980px;
  margin: 0 auto;
}
/* line 18, sass/_sysCommon.scss */
.header-body img.float-left, .header-body img.personal-finance-banner, .header-body img.personal-finance-business, .header-body img.footer {
  height: 32px;
  margin-top: 16px;
}
/* line 22, sass/_sysCommon.scss */
.header-body ul.float-right {
  height: 100%;
}
/* line 24, sass/_sysCommon.scss */
.header-body ul.float-right li {
  height: 60px;
  font-size: 18px;
  border-bottom: 4px solid transparent;
  line-height: 60px;
  text-align: center;
  margin-left: 55px;
}
/* line 33, sass/_sysCommon.scss */
.header-body ul.float-right li a {
  color: #C8C8C8;
}
/* line 36, sass/_sysCommon.scss */
.header-body ul.float-right li:first-child {
  margin-left: 0;
}
/* line 39, sass/_sysCommon.scss */
.header-body ul.float-right li.active {
  border-color: #FF9800;
}
/* line 41, sass/_sysCommon.scss */
.header-body ul.float-right li.active a {
  color: #fff;
}

/* line 48, sass/_sysCommon.scss */
.header {
  height: 64px;
  width: 100%;
  min-width: 1060px;
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 99;
  -moz-transition: top .6s;
    -o-transition: top .6s;
       transition: top .6s;
}
/* line 57, sass/_sysCommon.scss */
.header.active {
  top: 0;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-color: rgba(99, 99, 99, 0.2);
  -moz-box-shadow: 0 1px 3px #f6f6f6;
       box-shadow: 0 1px 3px #f6f6f6;
}
/* line 63, sass/_sysCommon.scss */
.header.active li.active {
  border-color: #448AFF !important;
}
/* line 65, sass/_sysCommon.scss */
.header.active li.active a {
  color: #424242 !important;
}

/* line 71, sass/_sysCommon.scss */
.footer {
  width: 100%;
  height: 112px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #F5F5F5;
}

/* line 79, sass/_sysCommon.scss */
.footer-body {
  width: 980px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

/* line 85, sass/_sysCommon.scss */
.footer-body-top {
  height: 70px;
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
}
/* line 89, sass/_sysCommon.scss */
.footer-body-top .float-left, .footer-body-top .header-body ul.float-right li, .header-body ul.float-right .footer-body-top li, .footer-body-top .personal-finance-banner, .footer-body-top .personal-finance-business, .footer-body-top .footer {
  font-size: 32px;
  height: 70px;
  line-height: 70px;
  color: #212121;
  position: relative;
  padding-left: 40px;
}
/* line 96, sass/_sysCommon.scss */
.footer-body-top .float-left em, .footer-body-top .header-body ul.float-right li em, .header-body ul.float-right .footer-body-top li em, .footer-body-top .personal-finance-banner em, .footer-body-top .personal-finance-business em, .footer-body-top .footer em {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: url(../images/phone_icon.png) no-repeat center center;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
}
/* line 107, sass/_sysCommon.scss */
.footer-body-top .float-right {
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #212121;
}

/* line 114, sass/_sysCommon.scss */
.footer-body-bottom {
  height: 41px;
  width: 100%;
  color: #BDBDBD;
  font-size: 12px;
}
/* line 119, sass/_sysCommon.scss */
.footer-body-bottom div {
  height: 41px;
  line-height: 41px;
}
/* line 122, sass/_sysCommon.scss */
.footer-body-bottom div em {
  margin: 0 18px;
}

/* line 3, sass/personalFinance.scss */
#app {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 8, sass/personalFinance.scss */
.personal-finance-banner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-bottom: 88px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* line 16, sass/personalFinance.scss */
.personal-finance-business {
  width: 100%;
  height: 434px;
  background-color: #fff;
}

/* line 22, sass/personalFinance.scss */
.footer {
  position: static;
}

/* line 26, sass/personalFinance.scss */
.personal-finance-banner-body {
  width: 100%;
  height: 100%;
  background: url(../images/person_finance_bg.png) no-repeat center center;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/person_finance_bg.png',  sizingMethod='scale');
}

/* line 33, sass/personalFinance.scss */
.personal-finance-banner-content {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 38, sass/personalFinance.scss */
.personal-finance-banner-content div {
  color: #fff;
  width: 100%;
  height: 144px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -72px;
}
/* line 47, sass/personalFinance.scss */
.personal-finance-banner-content h2 {
  font-size: 56px;
  height: 72px;
  line-height: 72px;
  font-weight: normal;
}
/* line 53, sass/personalFinance.scss */
.personal-finance-banner-content p {
  font-size: 32px;
  line-height: 72px;
  height: 72px;
}

/* line 59, sass/personalFinance.scss */
.personal-finance-business-body {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 64, sass/personalFinance.scss */
.personal-finance-business-body div.float-left, .personal-finance-business-body div.personal-finance-banner, .personal-finance-business-body div.personal-finance-business, .personal-finance-business-body div.footer {
  height: 500px;
  width: 312px;
  position: absolute;
  top: -185px;
}
/* line 69, sass/personalFinance.scss */
.personal-finance-business-body div.float-left:first-child, .personal-finance-business-body div.personal-finance-banner:first-child, .personal-finance-business-body div.personal-finance-business:first-child, .personal-finance-business-body div.footer:first-child {
  left: 0;
}
/* line 72, sass/personalFinance.scss */
.personal-finance-business-body div.float-left:nth-child(2), .personal-finance-business-body div.personal-finance-banner:nth-child(2), .personal-finance-business-body div.personal-finance-business:nth-child(2), .personal-finance-business-body div.footer:nth-child(2) {
  left: 334px;
}
/* line 75, sass/personalFinance.scss */
.personal-finance-business-body div.float-left:nth-child(3), .personal-finance-business-body div.personal-finance-banner:nth-child(3), .personal-finance-business-body div.personal-finance-business:nth-child(3), .personal-finance-business-body div.footer:nth-child(3) {
  right: 0;
}
/* line 79, sass/personalFinance.scss */
.personal-finance-business-body div.float-left + div.float-left, .personal-finance-business-body div.personal-finance-banner + div.float-left, .personal-finance-business-body div.personal-finance-business + div.float-left, .personal-finance-business-body div.footer + div.float-left, .personal-finance-business-body div.float-left + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-business + div.personal-finance-banner, .personal-finance-business-body div.footer + div.personal-finance-banner, .personal-finance-business-body div.float-left + div.personal-finance-business, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-business, .personal-finance-business-body div.personal-finance-business + div.personal-finance-business, .personal-finance-business-body div.footer + div.personal-finance-business, .personal-finance-business-body div.float-left + div.footer, .personal-finance-business-body div.personal-finance-banner + div.footer, .personal-finance-business-body div.personal-finance-business + div.footer, .personal-finance-business-body div.footer + div.footer {
  left: 334px;
}
/* line 82, sass/personalFinance.scss */
.personal-finance-business-body div.float-left + div.float-left + div.float-left, .personal-finance-business-body div.personal-finance-banner + div.float-left + div.float-left, .personal-finance-business-body div.personal-finance-business + div.float-left + div.float-left, .personal-finance-business-body div.footer + div.float-left + div.float-left, .personal-finance-business-body div.float-left + div.personal-finance-banner + div.float-left, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-banner + div.float-left, .personal-finance-business-body div.personal-finance-business + div.personal-finance-banner + div.float-left, .personal-finance-business-body div.footer + div.personal-finance-banner + div.float-left, .personal-finance-business-body div.float-left + div.personal-finance-business + div.float-left, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-business + div.float-left, .personal-finance-business-body div.personal-finance-business + div.personal-finance-business + div.float-left, .personal-finance-business-body div.footer + div.personal-finance-business + div.float-left, .personal-finance-business-body div.float-left + div.footer + div.float-left, .personal-finance-business-body div.personal-finance-banner + div.footer + div.float-left, .personal-finance-business-body div.personal-finance-business + div.footer + div.float-left, .personal-finance-business-body div.footer + div.footer + div.float-left, .personal-finance-business-body div.float-left + div.float-left + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-banner + div.float-left + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-business + div.float-left + div.personal-finance-banner, .personal-finance-business-body div.footer + div.float-left + div.personal-finance-banner, .personal-finance-business-body div.float-left + div.personal-finance-banner + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-banner + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-business + div.personal-finance-banner + div.personal-finance-banner, .personal-finance-business-body div.footer + div.personal-finance-banner + div.personal-finance-banner, .personal-finance-business-body div.float-left + div.personal-finance-business + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-business + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-business + div.personal-finance-business + div.personal-finance-banner, .personal-finance-business-body div.footer + div.personal-finance-business + div.personal-finance-banner, .personal-finance-business-body div.float-left + div.footer + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-banner + div.footer + div.personal-finance-banner, .personal-finance-business-body div.personal-finance-business + div.footer + div.personal-finance-banner, .personal-finance-business-body div.footer + div.footer + div.personal-finance-banner, .personal-finance-business-body div.float-left + div.float-left + div.personal-finance-business, .personal-finance-business-body div.personal-finance-banner + div.float-left + div.personal-finance-business, .personal-finance-business-body div.personal-finance-business + div.float-left + div.personal-finance-business, .personal-finance-business-body div.footer + div.float-left + div.personal-finance-business, .personal-finance-business-body div.float-left + div.personal-finance-banner + div.personal-finance-business, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-banner + div.personal-finance-business, .personal-finance-business-body div.personal-finance-business + div.personal-finance-banner + div.personal-finance-business, .personal-finance-business-body div.footer + div.personal-finance-banner + div.personal-finance-business, .personal-finance-business-body div.float-left + div.personal-finance-business + div.personal-finance-business, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-business + div.personal-finance-business, .personal-finance-business-body div.personal-finance-business + div.personal-finance-business + div.personal-finance-business, .personal-finance-business-body div.footer + div.personal-finance-business + div.personal-finance-business, .personal-finance-business-body div.float-left + div.footer + div.personal-finance-business, .personal-finance-business-body div.personal-finance-banner + div.footer + div.personal-finance-business, .personal-finance-business-body div.personal-finance-business + div.footer + div.personal-finance-business, .personal-finance-business-body div.footer + div.footer + div.personal-finance-business, .personal-finance-business-body div.float-left + div.float-left + div.footer, .personal-finance-business-body div.personal-finance-banner + div.float-left + div.footer, .personal-finance-business-body div.personal-finance-business + div.float-left + div.footer, .personal-finance-business-body div.footer + div.float-left + div.footer, .personal-finance-business-body div.float-left + div.personal-finance-banner + div.footer, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-banner + div.footer, .personal-finance-business-body div.personal-finance-business + div.personal-finance-banner + div.footer, .personal-finance-business-body div.footer + div.personal-finance-banner + div.footer, .personal-finance-business-body div.float-left + div.personal-finance-business + div.footer, .personal-finance-business-body div.personal-finance-banner + div.personal-finance-business + div.footer, .personal-finance-business-body div.personal-finance-business + div.personal-finance-business + div.footer, .personal-finance-business-body div.footer + div.personal-finance-business + div.footer, .personal-finance-business-body div.float-left + div.footer + div.footer, .personal-finance-business-body div.personal-finance-banner + div.footer + div.footer, .personal-finance-business-body div.personal-finance-business + div.footer + div.footer, .personal-finance-business-body div.footer + div.footer + div.footer {
  left: 668px;
}

/* line 86, sass/personalFinance.scss */
.personal-finance-business-normal {
  width: 297px;
  height: 474px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -148.5px;
  margin-top: -237px;
  background-color: #fff;
  -moz-transition: all .3s;
    -o-transition: all .3s;
       transition: all .3s;
}
/* line 96, sass/personalFinance.scss */
.personal-finance-business-normal.active {
  height: 500px;
  width: 312px;
  margin-left: -156px;
  margin-top: -250px;
}

/* line 103, sass/personalFinance.scss */
.personal-finance-title {
  width: 100%;
  height: 38%;
  background: url(../images/blue_coin_bg.png) no-repeat center center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/blue_coin_bg.png',  sizingMethod='scale');
  -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
       background-size: 100% 100%;
  position: relative;
}
/* line 110, sass/personalFinance.scss */
.personal-finance-title h2 {
  font-size: 40px;
  font-weight: normal;
}
/* line 114, sass/personalFinance.scss */
.personal-finance-title p {
  margin-top: 16px;
  font-size: 14px;
  color: #FFFFFF;
}
/* line 119, sass/personalFinance.scss */
.personal-finance-title div {
  color: #fff;
  padding: 0 24px;
  height: 40px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
}

/* line 131, sass/personalFinance.scss */
.personal-finance-content {
  width: 100%;
  height: 62%;
  -moz-box-shadow: 3px 0 5px #eee,-3px 0 5px #eee,0 3px 5px #eee,0 0 0 #fff;
       box-shadow: 3px 0 5px #eee,-3px 0 5px #eee,0 3px 5px #eee,0 0 0 #fff;
  position: relative;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
/* line 137, sass/personalFinance.scss */
.personal-finance-content img {
  width: 127px;
  height: 89px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -44.5px;
  margin-left: -63.5px;
}
/* line 146, sass/personalFinance.scss */
.personal-finance-content ul {
  height: 100%;
  padding: 34px 15px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
/* line 151, sass/personalFinance.scss */
.personal-finance-content ul li {
  margin-top: 14px;
}
/* line 152, sass/personalFinance.scss */
.personal-finance-content ul li h4 {
  font-size: 18px;
  line-height: 22px;
  height: 22px;
  color: #212121;
  font-weight: normal;
}
/* line 159, sass/personalFinance.scss */
.personal-finance-content ul li p {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  color: #BDBDBD;
}
/* line 166, sass/personalFinance.scss */
.personal-finance-content ul li:first-child {
  margin-top: 0;
}

/* line 172, sass/personalFinance.scss */
.car-loan .personal-finance-title {
  background-image: url(../images/car_loan_bg.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/car_loan_bg.png',  sizingMethod='scale');
}
/* line 175, sass/personalFinance.scss */
.car-loan .personal-finance-title div {
  height: 70px;
  margin-top: -35px;
}

/* line 180, sass/personalFinance.scss */
.house-loan .personal-finance-title {
  background-image: url(../images/house_loan_bg.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/house_loan_bg.png',  sizingMethod='scale');
}
/* line 183, sass/personalFinance.scss */
.house-loan .personal-finance-title div {
  height: 70px;
  margin-top: -35px;
}
