.cct-loan-static{
  font-size: 0;

  h6{
    font-size: 16px;
    font-weight: bold;//24
    margin:30px - 4 - 7 0 20px - 7 - 4;
    line-height: 1.5;
    color:#212121;
  }

  p{
    font-size: 14px;
    color:#9A9A9A;
    line-height: 28px;//21
  }
}

.cct-loan-main{
  padding:40px - 7 0 15px - 7;
}