.latest-activity-container{
  margin:40px - 5 auto 0;
  width:1180px;
  overflow: hidden;

  h2{
    font-size:20px;
    color:#212121;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}

.latest-activity-items{
  width:100%;
  height:230px;
  overflow: hidden;
  font-size: 0;
}

.latest-activity-item{
  width:380px;
  padding: 0 5px;
  height:230px;
  box-sizing: border-box;

  a{
    width:100%;
    height:100%;
  }

  img{
    width:100%;
    height:100%;
  }
}

.swiper-button{
  background:rgba(0,0,0,.4) url(./images/left_icon.png) no-repeat center center !important;
  width:24px !important;
  height:40px !important;
  position: absolute;
  top:50%;
  margin-top:-20px;

  &:hover{
    background-color:rgba(0,0,0,.8) !important;
  }
}

.swiper-button-prev{
  left:5px !important;
}

.swiper-button-next{
  right:5px !important;
  background-image:url(./images/right_icon.png) !important;
}