.inform-counterfeit-money-static{

  h6{
    font-size: 14px;
    color:#424242;
    font-weight: bold;
    line-height: 1.6;
    margin-top:40px - 4;
  }

  p{
    font-size: 14px;//8
    color:#8A8A8A;
    line-height: 1.6;
  }
}

.inform-counterfeit-money-main{
  padding-bottom:11px;
}