<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>达州银行</title>
    <meta name="keywords" content="达州银行">
    <meta name="description" content="达州银行">
    <meta name="author" content="yangshao">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <link rel="icon" href="images/favicon.png" type="image/x-icon"/>
    <!--[if lt IE 9]><script>alert('您当前浏览器版本过低，请更换浏览器！')</script><![endif]-->
</head>
<body>
    <div id="app"></div>
</body>
</html>