.news-container{
  margin:40px - 5 auto 0;
  width:1180px;
  overflow: hidden;

  h2{
    font-size:20px;
    color:#212121;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;

    a{
      width:64px;
      height:26px;
      margin-left:10px;
      border-radius: 13px;
      font-size:14px;
      color:#212121;
      border: 1px solid #C2C2C2;
      line-height: 26px;
      position: relative;
      top:-1px;
      text-align: center;

      &:hover{
        color:#A1753A;

        .more-icon{
          background-image:url(../Notice/images/more_icon_active.png)
        }
      }
    }
  }

  .more-icon{
    margin-left:4px;
    width:9px;
    height:15px;
    position: relative;
    top:-2px;
    background: url(../Notice/images/more_icon.png) no-repeat center center;
  }
}

.new-items{
  height:160px;
  width:100%;
  margin-bottom:40px;
  font-size: 0;
}

.new-item-left{
  width:280px;
  height:100%;

  img{
    width:100%;
    height:100%;
  }
}

.new-item-right{
  width:215px;
  text-align: right;
  position: relative;

  h4{
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    top:-24px;
    right:0;
    color:#757575;
    font-weight: bold;
  }

  div{
    height:125px;
    border-left: 1px solid #E0E0E0;
    width:100%;
    overflow: hidden;
    margin-top:17px;
  }

  img{
    height:100%;
    width:auto;
  }
}

.new-item-center{
  margin:0 300px;
  height:100%;
  padding: 14px 0;
  box-sizing: border-box;
  overflow: hidden;

  .new-item{
    margin-top:12px;

    &:first-child{
      margin-top: 0;
    }
  }

  a{
    display: block;
    font-size:16px;
    overflow: hidden;
    height:24px;
    line-height: 1.5;
    color:#212121;

    .float-left{
      width:430px;
      font-weight: 600;
    }

    &:hover{
      color:#A1753A;
    }
  }
}

