.structure-body-main{
  padding-top: 40px - 22.5;
  padding-bottom:15px;

  /**添加**/
  p{
    font-size: 14px;//7
    color:#848484;
    line-height: 1.5;
    text-indent: 2em;

    &:first-child{
      padding-top: 33px
    }
  }
}

.structure-item{
  margin-top:30px - 7.5;

  h6{
    font-size:16px;//8
    color:#212121;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 8.5px;
  }

  p{
    font-size: 14px;//7
    color:#848484;
    line-height: 1.5;
  }
}

.structure-img-container{
  width:100%;
  font-size: 0;
  margin-top:30px - 3.5;

  img{
    width: 100%;
    height:auto;
  }
}