.loan-rate-container{
  width:1180px;
  margin: 100px auto 40px;
  font-size: 0;

  h2{
    height:52px;
    line-height: 52px;
    font-weight: normal;

    em{
      font-style: normal;
      margin:0 8px;
      font-size: 14px;
    }

    a,span{
      color:#424242;
      font-size: 14px;
    }
  }
}

.loan-rate-main{
  background-color: #fff;
  padding-bottom:40px;

  &>h4{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    color:#212121;
    padding:36px 0;
  }
}

.loan-rate-unit{
  width:1000px;
  margin:0 auto;
  font-size: 14px;
  color:#666;
  text-align: right;
  line-height: 30px;
}

.loan-rate-static{
  width:1000px;
  height:336px;
  padding-bottom:160px;
  overflow: hidden;
  margin:0 auto;

  table{
    font-size: 14px;
    color:#666;
    border: 1px solid #f1f1f1;
    border-collapse: collapse;
    width:1000px;
    margin:0 auto;
  }

  td,th{
    border: 1px solid #f1f1f1;
    line-height: 2;
    padding:0 10px;
  }

  thead,.thead{
    font-size:16px;
    color:#212121;

    th{
      text-align: center;
    }
  }

  .text-align{
    text-align: center;
  }
}