@charset "UTF-8";
/*
  compass 引用
*/
/* line 5, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  自定义引用
*/
/*
  自定义变量集
*/
/*
  My Mixin
*/
/*最小宽高*/
/*table*/
/*opacity*/
/*兼容圆角*/
/*兼容box-shadow*/
/*兼容渐变--safari chrome低版本没兼容*/
/*
  CSS Sprites
*/
/*引入sprites*/
/*定义跨浏览器的能力*/
/*清除浮动*/
/* line 15, sass/_common.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*左右浮动*/
/* line 20, sass/_common.scss */
.float-left {
  float: left;
  display: inline;
}

/* line 23, sass/_common.scss */
.float-right {
  float: right;
  display: inline;
}

/*让子元素能够使用父元素的样式  特别是 li下的a标签*/
/* line 28, sass/_common.scss */
.inherited {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
.inherited:active, .inherited:focus {
  outline: none;
}

/*hover 添加下划线*/
/* line 33, sass/_common.scss */
.underline-hover {
  text-decoration: none;
}
/* line 4, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
.underline-hover:hover, .underline-hover:focus {
  text-decoration: underline;
}

/*文本单行省略号 需要安装compass install compass/ellipsis*/
/* line 39, sass/_common.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/app/styles/xml/ellipsis.xml#ellipsis');
}

/*display:inline-block的跨浏览器样式*/
/* line 44, sass/_common.scss */
.inline-block, .app-header-body .float-right a, .app-header-body .float-right span, .app-section-header-body a, .bind-username label, .bind-pwd label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 47, sass/_common.scss */
.overflow-top, .bind-username, .bind-pwd {
  display: table;
}

/* line 50, sass/_common.scss */
html, body {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
}

/* line 56, sass/_common.scss */
* {
  font-family: "Microsoft YaHei",sans-serif;
}

/* line 59, sass/_common.scss */
#app {
  width: 100%;
  height: 100%;
}

/* line 63, sass/_common.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 67, sass/_common.scss */
button, input {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

/**
 * 定义公用函数
 */
/************内容公用部分************/
/* line 5, sass/bind_sys.scss */
#app {
  background-color: #F5F5F5;
  padding-top: 0.66667rem;
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  height: 5.625rem;
  overflow: hidden;
}

/* line 20, sass/bind_sys.scss */
.app-header {
  height: 0.66667rem;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 34, sass/bind_sys.scss */
.app-header-body {
  height: 0.25rem;
  width: 6.375rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 45, sass/bind_sys.scss */
.app-header-body .float-left {
  width: 1.04167rem;
  height: 0.25rem;
}
/* line 48, sass/bind_sys.scss */
.app-header-body .float-left img {
  width: 100%;
  height: 100%;
}
/* line 53, sass/bind_sys.scss */
.app-header-body .float-right {
  font-size: 0.08333rem;
  height: 0.25rem;
  line-height: 0.25rem;
  color: #5E5E5E;
  font-weight: bold;
}
/* line 59, sass/bind_sys.scss */
.app-header-body .float-right em {
  font-style: normal;
}
/* line 62, sass/bind_sys.scss */
.app-header-body .float-right a, .app-header-body .float-right span {
  vertical-align: middle;
  position: relative;
  top: -0.01042rem;
  height: 0.09375rem;
  line-height: 0.09375rem;
  border-left: 1px solid #E8E8E8;
  cursor: pointer;
}
/* line 72, sass/bind_sys.scss */
.app-header-body .float-right span {
  color: #004EA1;
  padding-left: 0.08333rem;
}
/* line 76, sass/bind_sys.scss */
.app-header-body .float-right a {
  color: #5E5E5E;
  padding: 0 0.08333rem;
  margin-left: 0.08333rem;
}

/* line 84, sass/bind_sys.scss */
.app-section {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  position: relative;
  padding: 0.70833rem 0 0.34375rem;
  box-sizing: border-box;
}

/* line 92, sass/bind_sys.scss */
.app-section-header {
  width: 100%;
  height: 0.45833rem;
  overflow: hidden;
  position: relative;
}

/* line 98, sass/bind_sys.scss */
.app-section-header-body {
  width: 5.41667rem;
  height: 0.26042rem;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
}
/* line 112, sass/bind_sys.scss */
.app-section-header-body a {
  color: #BDBDBD;
  font-size: 0.09375rem;
  height: 0.25521rem;
  line-height: 0.25521rem;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  background-color: #fff;
  margin-left: 0.16667rem;
  padding: 0 1px;
}
/* line 123, sass/bind_sys.scss */
.app-section-header-body a:first-child {
  margin-left: 0;
}
/* line 126, sass/bind_sys.scss */
.app-section-header-body a.active {
  color: #424242;
  border-color: #424242;
}

/* line 132, sass/bind_sys.scss */
.app-section-body {
  height: 100%;
  width: 6.25rem;
  position: relative;
  margin: 0 auto;
}

/* line 141, sass/bind_sys.scss */
.app-section-content {
  width: 100%;
  height: 3.90625rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.05208rem;
}

/* line 151, sass/bind_sys.scss */
.head-portrait {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: -0.46875rem;
  left: 50%;
  transform: translateX(-50%);
}
/* line 160, sass/bind_sys.scss */
.head-portrait img {
  width: 0.83333rem;
  height: 0.83333rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 170, sass/bind_sys.scss */
.app-section-sys {
  width: 2.08333rem;
  margin: 0.78125rem auto 0;
  height: 1.92708rem;
  position: relative;
  display: none;
}
/* line 176, sass/bind_sys.scss */
.app-section-sys.active {
  display: block;
}
/* line 185, sass/bind_sys.scss */
.app-section-sys h2 {
  font-size: 0.09375rem;
  color: #5E5E5E;
  height: 0.10417rem;
  line-height: 0.10417rem;
  width: 100%;
  text-align: center;
}

/* line 194, sass/bind_sys.scss */
.bind-username, .bind-pwd {
  height: 0.52083rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 200, sass/bind_sys.scss */
.bind-username label, .bind-pwd label {
  width: 100%;
  height: 0.25rem;
  position: relative;
}
/* line 206, sass/bind_sys.scss */
.bind-username .label, .bind-pwd .label {
  color: #BDBDBD;
  font-size: 0.08333rem;
  display: block;
  height: 0.10417rem;
  line-height: 0.10417rem;
  width: 1.91667rem;
  margin: 0.11458rem auto 0.05208rem;
}
/* line 215, sass/bind_sys.scss */
.bind-username input, .bind-pwd input {
  height: 0.24479rem;
  width: 2.07813rem;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  padding: 0 0.17708rem 0 0.08333rem;
  border-radius: 0.02604rem;
  font-size: 0.09375rem;
  color: #004EA2;
  text-shadow: 0 0 0 #000;
  -webkit-text-fill-color: transparent;
}
/* line 228, sass/bind_sys.scss */
.bind-username .mobile, .bind-username .captcha, .bind-pwd .mobile, .bind-pwd .captcha {
  border-color: #BDBDBD;
}
/* line 235, sass/bind_sys.scss */
.bind-username .top, .bind-username .bottom, .bind-pwd .top, .bind-pwd .bottom {
  position: absolute;
  left: 2px;
  background-color: transparent;
  width: 2.0625rem;
  height: 0.06771rem;
  border-radius: 0.02604rem;
  display: none;
}
/* line 244, sass/bind_sys.scss */
.bind-username .top, .bind-pwd .top {
  top: 1px;
}
/* line 247, sass/bind_sys.scss */
.bind-username .bottom, .bind-pwd .bottom {
  bottom: 1px;
}

/* line 251, sass/bind_sys.scss */
.username_correct {
  position: absolute;
  bottom: 0.08854rem;
  right: 0.07292rem;
  width: 0.08854rem;
  height: 0.07292rem;
  background: url(../images/login_mobile_correct.png) no-repeat center center;
  background-size: cover;
  display: none;
}
/* line 260, sass/bind_sys.scss */
.username_correct.active {
  display: block;
}

/* line 264, sass/bind_sys.scss */
.error-title {
  font-size: 0.08333rem;
  height: 0.10417rem;
  line-height: 0.10417rem;
  width: 1.91667rem;
  margin: 0.11458rem auto 0.05208rem;
  display: none;
  color: #F44336;
  position: relative;
  padding-left: 0.13542rem;
  box-sizing: border-box;
}
/* line 275, sass/bind_sys.scss */
.error-title em {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.04167rem;
  width: 0.08333rem;
  height: 0.08333rem;
  background: url(../images/error.png) no-repeat center center;
  background-size: cover;
}

/* line 287, sass/bind_sys.scss */
.error .label {
  display: none !important;
}
/* line 290, sass/bind_sys.scss */
.error .error-title {
  display: block !important;
}
/* line 293, sass/bind_sys.scss */
.error input {
  border-color: #F44336 !important;
}

/* line 297, sass/bind_sys.scss */
input:focus {
  background-color: #F5F5F5 !important;
  border-color: transparent !important;
}
/* line 300, sass/bind_sys.scss */
input:focus ~ em {
  background-color: #F5F5F5 !important;
}

/* line 304, sass/bind_sys.scss */
.bind-sys-form {
  width: 2.08333rem;
  height: 1.58333rem;
  overflow: hidden;
  margin: 0.23958rem auto 0;
}

/* line 316, sass/bind_sys.scss */
.btn {
  height: 0.25rem;
  width: 100%;
  margin-top: 0.29167rem;
}
/* line 326, sass/bind_sys.scss */
.btn .float-left, .btn .float-right {
  width: 0.96875rem;
  height: 0.23958rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
  line-height: 0.23958rem;
  color: #FFF;
  font-size: 0.09375rem;
  font-weight: bold;
  background-color: #004EA2;
  cursor: pointer;
  border-radius: 0.02604rem;
}
/* line 340, sass/bind_sys.scss */
.btn .float-right {
  background-color: #fff;
  color: #004EA2;
  border-color: #004EA2;
  margin-right: 1px;
}

/* line 347, sass/bind_sys.scss */
.bind-result {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 0.83333rem;
  height: 0.29167rem;
  line-height: 0.29167rem;
  text-align: center;
  font-size: 0.09375rem;
  border-radius: 0.02604rem;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 349, sass/bind_sys.scss */
.bind-result.active {
  display: block;
}

/* line 365, sass/bind_sys.scss */
.exit-model {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 373, sass/bind_sys.scss */
.exit-model.active {
  display: block;
}
/* line 376, sass/bind_sys.scss */
.exit-model .exit-info {
  width: 2.08333rem;
  height: 1.30208rem;
  border-radius: 0.05208rem;
  background-color: #fff;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 385, sass/bind_sys.scss */
.exit-model .exit-info p {
  font-size: 0.09375rem;
  text-align: center;
  color: #424242;
  height: 0.10417rem;
  line-height: 0.10417rem;
  margin-top: 0.46875rem;
}
/* line 393, sass/bind_sys.scss */
.exit-model .exit-info div {
  height: 0.25rem;
  text-align: center;
  margin-top: 0.33333rem;
}
/* line 397, sass/bind_sys.scss */
.exit-model .exit-info div button {
  height: 0.25rem;
  width: 0.8125rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  line-height: 0.23958rem;
  text-align: center;
  font-size: 0.09375rem;
  font-weight: bold;
  background-color: #90CAF9;
  border-radius: 0.02604rem;
  color: #fff;
  cursor: pointer;
}
/* line 411, sass/bind_sys.scss */
.exit-model .exit-info div .delete-reset {
  color: #BDBDBD;
  border-color: #BDBDBD;
  background-color: #fff;
  margin-left: 0.08333rem;
}
/* line 419, sass/bind_sys.scss */
.exit-model .close-icon {
  position: absolute;
  top: 0.0625rem;
  right: 0.0625rem;
  width: 0.08333rem;
  min-width: 10px;
  min-height: 10px;
  height: 0.08333rem;
  background: url(../images/head_close.png) no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
