@charset "UTF-8";
/*
  compass 引用
*/
/* line 5, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  自定义引用
*/
/*
  自定义变量集
*/
/*
  My Mixin
*/
/*最小宽高*/
/*table*/
/*opacity*/
/*兼容圆角*/
/*兼容box-shadow*/
/*兼容渐变--safari chrome低版本没兼容*/
/*
  CSS Sprites
*/
/*引入sprites*/
/*定义跨浏览器的能力*/
/*清除浮动*/
/* line 15, sass/_common.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*左右浮动*/
/* line 20, sass/_common.scss */
.float-left {
  float: left;
  display: inline;
}

/* line 23, sass/_common.scss */
.float-right {
  float: right;
  display: inline;
}

/*让子元素能够使用父元素的样式  特别是 li下的a标签*/
/* line 28, sass/_common.scss */
.inherited {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
.inherited:active, .inherited:focus {
  outline: none;
}

/*hover 添加下划线*/
/* line 33, sass/_common.scss */
.underline-hover {
  text-decoration: none;
}
/* line 4, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
.underline-hover:hover, .underline-hover:focus {
  text-decoration: underline;
}

/*文本单行省略号 需要安装compass install compass/ellipsis*/
/* line 39, sass/_common.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/app/styles/xml/ellipsis.xml#ellipsis');
}

/*display:inline-block的跨浏览器样式*/
/* line 44, sass/_common.scss */
.inline-block, .app-footer span, .app-title a, .login-mobile label, .login-pwd label, .login-captcha label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 47, sass/_common.scss */
.overflow-top, .login-mobile, .login-pwd, .login-captcha, .login-other {
  display: table;
}

/* line 50, sass/_common.scss */
html, body {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
}

/* line 56, sass/_common.scss */
* {
  font-family: "Microsoft YaHei",sans-serif;
}

/* line 59, sass/_common.scss */
#app {
  width: 100%;
  height: 100%;
}

/* line 63, sass/_common.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 67, sass/_common.scss */
button, input {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

/**
 * 定义公用函数
 */
/* line 4, sass/_sysCommon.scss */
* {
  font-family: "Microsoft YaHei",sans-serif;
}

/* line 7, sass/_sysCommon.scss */
#app {
  background: url(../images/login_bg.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  height: 5.625rem;
  min-height: 100%;
  overflow: hidden;
}

/* line 15, sass/_sysCommon.scss */
.app-header {
  position: absolute;
  width: 100%;
  top: 0.19271rem;
  left: 0;
  height: 0.25rem;
}
/* line 21, sass/_sysCommon.scss */
.app-header div {
  width: 6.36458rem;
  margin: 0 auto;
  height: 100%;
}
/* line 29, sass/_sysCommon.scss */
.app-header img {
  height: 100%;
}

/* line 33, sass/_sysCommon.scss */
.app-footer {
  height: 0.15625rem;
  bottom: 0.52083rem;
  position: absolute;
  left: 0;
  width: 100%;
}
/* line 39, sass/_sysCommon.scss */
.app-footer div {
  width: 3.125rem;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: relative;
  min-width: 320px;
}
/* line 47, sass/_sysCommon.scss */
.app-footer em {
  width: 0.96875rem;
  border: 1px solid #fff;
  position: absolute;
  top: 0.07552rem;
}
/* line 52, sass/_sysCommon.scss */
.app-footer em.left {
  left: 0;
}
/* line 55, sass/_sysCommon.scss */
.app-footer em.right {
  right: 0;
}
/* line 59, sass/_sysCommon.scss */
.app-footer span {
  height: 100%;
  line-height: 0.15625rem;
  font-size: 0.125rem;
  color: #fff;
}

/* line 68, sass/_sysCommon.scss */
.error-title {
  font-size: 0.08333rem;
  height: 0.10417rem;
  line-height: 0.10417rem;
  width: 1.91667rem;
  margin: 0.11458rem auto 0.05208rem;
  display: none;
  color: #F44336;
  position: relative;
  padding-left: 0.13542rem;
  box-sizing: border-box;
  white-space: nowrap;
}
/* line 80, sass/_sysCommon.scss */
.error-title em {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.04167rem;
  width: 0.08333rem;
  height: 0.08333rem;
  background: url(../images/error.png) no-repeat center center;
  background-size: cover;
}

/* line 92, sass/_sysCommon.scss */
.error .label {
  display: none !important;
}
/* line 95, sass/_sysCommon.scss */
.error .error-title {
  display: block !important;
}
/* line 98, sass/_sysCommon.scss */
.error input {
  border-color: #F44336 !important;
}

/* line 102, sass/_sysCommon.scss */
.mobile-captcha-btn.disable {
  background-color: #E0E0E0 !important;
  cursor: default !important;
}

/* line 106, sass/_sysCommon.scss */
input:focus {
  background-color: #F5F5F5 !important;
  border-color: transparent !important;
}
/* line 109, sass/_sysCommon.scss */
input:focus ~ em {
  background-color: #F5F5F5 !important;
}

/* line 4, sass/login.scss */
.app-body {
  height: 3.46875rem;
  width: 5.10417rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

/* line 16, sass/login.scss */
.app-login {
  width: 2.08333rem;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 0.52083rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 30, sass/login.scss */
.app-title {
  margin-top: 0.17708rem;
}
/* line 35, sass/login.scss */
.app-title a {
  height: 0.25rem;
  line-height: 0.25rem;
  font-size: 0.11458rem;
  color: #BDBDBD;
  border-bottom: 2px solid transparent;
  padding: 0 1px;
  margin-left: 0.20833rem;
}
/* line 44, sass/login.scss */
.app-title a:first-child {
  margin-left: 0.07813rem;
}
/* line 48, sass/login.scss */
.app-title a.active {
  border-color: #004EA2;
  color: #212121;
}

/* line 53, sass/login.scss */
.login-form {
  width: 100%;
  margin-top: 0.17708rem;
}

/* line 60, sass/login.scss */
.login-btn {
  width: 2.08333rem;
  height: 0.25rem;
  margin-bottom: 0.52083rem;
}
/* line 67, sass/login.scss */
.login-btn button {
  width: 2.08333rem;
  height: 0.25rem;
  cursor: pointer;
  text-align: center;
  background-color: #004EA2;
  color: #fff;
  font-size: 0.09375rem;
  font-weight: bold;
  border-radius: 0.02604rem;
}

/* line 79, sass/login.scss */
.login-mobile, .login-pwd, .login-captcha {
  height: 0.52083rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 85, sass/login.scss */
.login-mobile label, .login-pwd label, .login-captcha label {
  width: 100%;
  height: 0.25rem;
  position: relative;
}
/* line 91, sass/login.scss */
.login-mobile .label, .login-pwd .label, .login-captcha .label {
  color: #BDBDBD;
  font-size: 0.08333rem;
  display: block;
  height: 0.10417rem;
  line-height: 0.10417rem;
  width: 1.91667rem;
  margin: 0.11458rem auto 0.05208rem;
}
/* line 100, sass/login.scss */
.login-mobile input, .login-pwd input, .login-captcha input {
  height: 0.24479rem;
  width: 2.06771rem;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  padding: 0 0.17708rem 0 0.08333rem;
  border-radius: 0.02604rem;
  font-size: 0.09375rem;
  color: #004EA2;
  text-shadow: 0 0 0 #000;
  -webkit-text-fill-color: transparent;
}
/* line 113, sass/login.scss */
.login-mobile .mobile, .login-mobile .captcha, .login-pwd .mobile, .login-pwd .captcha, .login-captcha .mobile, .login-captcha .captcha {
  border-color: #BDBDBD;
}
/* line 122, sass/login.scss */
.login-mobile .top, .login-mobile .bottom, .login-pwd .top, .login-pwd .bottom, .login-captcha .top, .login-captcha .bottom {
  position: absolute;
  left: 2px;
  background-color: transparent;
  width: 2.0625rem;
  height: 0.06771rem;
  display: none;
}
/* line 130, sass/login.scss */
.login-mobile .top, .login-pwd .top, .login-captcha .top {
  top: 1px;
  border-radius: 0.02604rem;
}
/* line 134, sass/login.scss */
.login-mobile .bottom, .login-pwd .bottom, .login-captcha .bottom {
  bottom: 1px;
  border-radius: 0.02604rem;
}

/* line 139, sass/login.scss */
.login-captcha {
  display: none;
}
/* line 141, sass/login.scss */
.login-captcha.active {
  display: block;
}
/* line 144, sass/login.scss */
.login-captcha input {
  width: 1.35417rem;
}
/* line 147, sass/login.scss */
.login-captcha img {
  width: 0.66667rem;
  height: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.02604rem;
  cursor: pointer;
}

/* line 157, sass/login.scss */
.login-other {
  width: 100%;
  height: 0.52083rem;
}
/* line 164, sass/login.scss */
.login-other div {
  height: 0.09375rem;
  width: 100%;
  margin-top: 0.20833rem;
}
/* line 172, sass/login.scss */
.login-other .float-right {
  margin-right: 0.125rem;
  color: #004EA2;
  height: 0.09375rem;
  line-height: 0.09375rem;
}
/* line 178, sass/login.scss */
.login-other .float-left {
  margin-left: 0.08854rem;
  height: 0.09375rem;
  line-height: 0.09375rem;
  position: relative;
  padding-left: 0.13542rem;
  color: #424242;
  cursor: pointer;
}
/* line 186, sass/login.scss */
.login-other .float-left em {
  position: absolute;
  width: 0.09375rem;
  height: 0.09375rem;
  top: 0;
  left: 0;
  border-radius: 2px;
  border: 1px solid #eee;
  background-color: #fff;
}
/* line 195, sass/login.scss */
.login-other .float-left em.active {
  background-color: #004EA2;
}
/* line 197, sass/login.scss */
.login-other .float-left em.active b {
  display: block;
}
/* line 202, sass/login.scss */
.login-other .float-left b {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.03385rem;
  margin-top: -0.02344rem;
  width: 0.06771rem;
  height: 0.04688rem;
  background: url(../images/jz_icon1.png) no-repeat center center;
  background-size: cover;
  display: none;
}

/* line 216, sass/login.scss */
.login_mobile_correct {
  position: absolute;
  bottom: 0.08854rem;
  right: 0.07292rem;
  width: 0.08854rem;
  height: 0.07292rem;
  background: url(../images/login_mobile_correct.png) no-repeat center center;
  background-size: cover;
  display: none;
}
/* line 225, sass/login.scss */
.login_mobile_correct.active {
  display: block;
}

/* line 229, sass/login.scss */
input {
  margin-left: 1px;
}
