@charset "UTF-8";
/*
  compass 引用
*/
/* line 5, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  自定义引用
*/
/*
  自定义变量集
*/
/*
  My Mixin
*/
/*最小宽高*/
/*table*/
/*opacity*/
/*兼容圆角*/
/*兼容box-shadow*/
/*兼容渐变--safari chrome低版本没兼容*/
/*
  CSS Sprites
*/
/*引入sprites*/
/*定义跨浏览器的能力*/
/*清除浮动*/
/* line 15, sass/_common.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*左右浮动*/
/* line 20, sass/_common.scss */
.float-left {
  float: left;
  display: inline;
}

/* line 23, sass/_common.scss */
.float-right {
  float: right;
  display: inline;
}

/*让子元素能够使用父元素的样式  特别是 li下的a标签*/
/* line 28, sass/_common.scss */
.inherited {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
.inherited:active, .inherited:focus {
  outline: none;
}

/*hover 添加下划线*/
/* line 33, sass/_common.scss */
.underline-hover {
  text-decoration: none;
}
/* line 4, F:/ruby/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
.underline-hover:hover, .underline-hover:focus {
  text-decoration: underline;
}

/*文本单行省略号 需要安装compass install compass/ellipsis*/
/* line 39, sass/_common.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('/app/styles/xml/ellipsis.xml#ellipsis');
}

/*display:inline-block的跨浏览器样式*/
/* line 44, sass/_common.scss */
.inline-block, .app-footer span, .app-title a, .register-mobile label, .register-captcha label, .register-pwd label, .register-footer a, .register-header a, .register-header span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 47, sass/_common.scss */
.overflow-top, .register-mobile, .register-captcha, .register-pwd, .register-header {
  display: table;
}

/* line 50, sass/_common.scss */
html, body {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
}

/* line 56, sass/_common.scss */
* {
  font-family: "Microsoft YaHei",sans-serif;
}

/* line 59, sass/_common.scss */
#app {
  width: 100%;
  height: 100%;
}

/* line 63, sass/_common.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 67, sass/_common.scss */
button, input {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

/**
 * 定义公用函数
 */
/* line 4, sass/_sysCommon.scss */
* {
  font-family: "Microsoft YaHei",sans-serif;
}

/* line 7, sass/_sysCommon.scss */
#app {
  background: url(../images/login_bg.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  height: 5.625rem;
  min-height: 100%;
  overflow: hidden;
}

/* line 15, sass/_sysCommon.scss */
.app-header {
  position: absolute;
  width: 100%;
  top: 0.19271rem;
  left: 0;
  height: 0.25rem;
}
/* line 21, sass/_sysCommon.scss */
.app-header div {
  width: 6.36458rem;
  margin: 0 auto;
  height: 100%;
}
/* line 29, sass/_sysCommon.scss */
.app-header img {
  height: 100%;
}

/* line 33, sass/_sysCommon.scss */
.app-footer {
  height: 0.15625rem;
  bottom: 0.52083rem;
  position: absolute;
  left: 0;
  width: 100%;
}
/* line 39, sass/_sysCommon.scss */
.app-footer div {
  width: 3.125rem;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: relative;
  min-width: 320px;
}
/* line 47, sass/_sysCommon.scss */
.app-footer em {
  width: 0.96875rem;
  border: 1px solid #fff;
  position: absolute;
  top: 0.07552rem;
}
/* line 52, sass/_sysCommon.scss */
.app-footer em.left {
  left: 0;
}
/* line 55, sass/_sysCommon.scss */
.app-footer em.right {
  right: 0;
}
/* line 59, sass/_sysCommon.scss */
.app-footer span {
  height: 100%;
  line-height: 0.15625rem;
  font-size: 0.125rem;
  color: #fff;
}

/* line 68, sass/_sysCommon.scss */
.error-title {
  font-size: 0.08333rem;
  height: 0.10417rem;
  line-height: 0.10417rem;
  width: 1.91667rem;
  margin: 0.11458rem auto 0.05208rem;
  display: none;
  color: #F44336;
  position: relative;
  padding-left: 0.13542rem;
  box-sizing: border-box;
  white-space: nowrap;
}
/* line 80, sass/_sysCommon.scss */
.error-title em {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.04167rem;
  width: 0.08333rem;
  height: 0.08333rem;
  background: url(../images/error.png) no-repeat center center;
  background-size: cover;
}

/* line 92, sass/_sysCommon.scss */
.error .label {
  display: none !important;
}
/* line 95, sass/_sysCommon.scss */
.error .error-title {
  display: block !important;
}
/* line 98, sass/_sysCommon.scss */
.error input {
  border-color: #F44336 !important;
}

/* line 102, sass/_sysCommon.scss */
.mobile-captcha-btn.disable {
  background-color: #E0E0E0 !important;
  cursor: default !important;
}

/* line 106, sass/_sysCommon.scss */
input:focus {
  background-color: #F5F5F5 !important;
  border-color: transparent !important;
}
/* line 109, sass/_sysCommon.scss */
input:focus ~ em {
  background-color: #F5F5F5 !important;
}

/* line 4, sass/register.scss */
.app-body {
  height: 2.94792rem;
  width: 5.10417rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

/* line 16, sass/register.scss */
.app-register {
  width: 2.08333rem;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 0.52083rem;
}

/* line 26, sass/register.scss */
.app-title {
  margin-top: 0.17708rem;
}
/* line 31, sass/register.scss */
.app-title a {
  height: 0.25rem;
  line-height: 0.25rem;
  font-size: 0.11458rem;
  color: #BDBDBD;
  border-bottom: 2px solid transparent;
  padding: 0 1px;
  margin-left: 0.20833rem;
}
/* line 40, sass/register.scss */
.app-title a:first-child {
  margin-left: 0.07813rem;
}
/* line 44, sass/register.scss */
.app-title a.active {
  border-color: #004EA2;
  color: #212121;
}

/* line 49, sass/register.scss */
.register-form {
  width: 100%;
  margin-top: 0.15625rem;
}

/* line 56, sass/register.scss */
.next-btn, .register-btn {
  width: 2.08333rem;
  height: 0.25rem;
  margin-top: 0.27083rem;
}
/* line 60, sass/register.scss */
.next-btn button, .register-btn button {
  width: 2.08333rem;
  height: 0.25rem;
  cursor: pointer;
  text-align: center;
  background-color: #004EA2;
  font-weight: bold;
  color: #fff;
  font-size: 0.09375rem;
  border-radius: 0.02604rem;
}

/* line 82, sass/register.scss */
.register-mobile, .register-captcha, .register-pwd {
  height: 0.52083rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 88, sass/register.scss */
.register-mobile label, .register-captcha label, .register-pwd label {
  width: 100%;
  height: 0.25rem;
  position: relative;
}
/* line 94, sass/register.scss */
.register-mobile .label, .register-captcha .label, .register-pwd .label {
  color: #BDBDBD;
  font-size: 0.08333rem;
  display: block;
  height: 0.10417rem;
  line-height: 0.10417rem;
  width: 1.91667rem;
  margin: 0.11458rem auto 0.05208rem;
}
/* line 103, sass/register.scss */
.register-mobile input, .register-captcha input, .register-pwd input {
  height: 0.23958rem;
  width: 2.06771rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 0 0.17708rem 0 0.08333rem;
  border-radius: 0.02604rem;
  font-size: 0.09375rem;
  color: #004EA2;
  text-shadow: 0 0 0 #000;
  -webkit-text-fill-color: transparent;
}
/* line 116, sass/register.scss */
.register-mobile .mobile, .register-mobile .captcha, .register-mobile .register-pwd, .register-captcha .mobile, .register-captcha .captcha, .register-captcha .register-pwd, .register-pwd .mobile, .register-pwd .captcha, .register-pwd .register-pwd {
  border-color: #BDBDBD;
}
/* line 123, sass/register.scss */
.register-mobile .top, .register-mobile .bottom, .register-captcha .top, .register-captcha .bottom, .register-pwd .top, .register-pwd .bottom {
  position: absolute;
  left: 2px;
  background-color: transparent;
  width: 2.0625rem;
  height: 0.06771rem;
  display: none;
}
/* line 131, sass/register.scss */
.register-mobile .top, .register-captcha .top, .register-pwd .top {
  top: 0.00781rem;
  border-radius: 0.02604rem;
}
/* line 135, sass/register.scss */
.register-mobile .bottom, .register-captcha .bottom, .register-pwd .bottom {
  bottom: 0.00781rem;
  border-radius: 0.02604rem;
}

/* line 140, sass/register.scss */
.register-captcha {
  display: none;
}
/* line 142, sass/register.scss */
.register-captcha.active {
  display: block;
}
/* line 145, sass/register.scss */
.register-captcha input {
  width: 1.35417rem;
}
/* line 148, sass/register.scss */
.register-captcha img, .register-captcha .mobile-captcha-btn {
  width: 0.66667rem;
  height: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.02604rem;
  cursor: pointer;
}
/* line 157, sass/register.scss */
.register-captcha .mobile-captcha-btn {
  font-size: 0.08333rem;
  color: #fff;
  background-color: #004EA2;
  line-height: 0.25rem;
  text-align: center;
  font-weight: bold;
}

/* line 166, sass/register.scss */
.login_mobile_correct {
  position: absolute;
  bottom: 0.08854rem;
  right: 0.07292rem;
  width: 0.08854rem;
  height: 0.07292rem;
  background: url(../images/login_mobile_correct.png) no-repeat center center;
  background-size: cover;
  display: none;
}
/* line 175, sass/register.scss */
.login_mobile_correct.active {
  display: block;
}

/* line 179, sass/register.scss */
.register-footer {
  height: 0.10417rem;
  line-height: 0.10417rem;
  font-size: 0.08333rem;
  text-align: center;
  width: 100%;
  color: #BDBDBD;
}
/* line 186, sass/register.scss */
.register-footer a {
  color: #004EA2;
  font-weight: bold;
  height: 0.10417rem;
  line-height: 0.10417rem;
  vertical-align: top;
}

/* line 195, sass/register.scss */
.register-header {
  color: #BDBDBD;
  height: 0.20833rem;
  min-height: 30px;
  line-height: 1.3em;
  font-size: 0.08333rem;
  width: 1.91667rem;
  margin: 0 auto;
}
/* line 207, sass/register.scss */
.register-header a, .register-header span {
  font-weight: bold;
  height: 0.10417rem;
  line-height: 0.10417rem;
  vertical-align: top;
}
/* line 214, sass/register.scss */
.register-header a {
  color: #004EA2;
}

/* line 218, sass/register.scss */
.register-first-step {
  margin-bottom: 0.19792rem;
  display: none;
}
/* line 225, sass/register.scss */
.register-first-step.active {
  display: block;
}

/* line 229, sass/register.scss */
.register-second-step {
  display: none;
  margin-top: 0.20833rem;
  margin-bottom: 0.21875rem;
}
/* line 231, sass/register.scss */
.register-second-step.active {
  display: block;
}

/* line 241, sass/register.scss */
input {
  margin-left: 0.01042rem;
}

/* line 244, sass/register.scss */
.set-result-model {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  display: none;
}
/* line 252, sass/register.scss */
.set-result-model.active {
  display: block;
}
/* line 255, sass/register.scss */
.set-result-model .set-result {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 0.83333rem;
  height: 0.29167rem;
  line-height: 0.29167rem;
  text-align: center;
  font-size: 0.09375rem;
  border-radius: 0.02604rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
